.block__search {
    width: 35%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 5px 10px;
    border-radius: 10px;
}

.input__location {
    font-size: 20px;
    font-weight: 500;
    color: #4793ff;
    border: 0;
    border-bottom: 3px solid black;
    width: 80%;
    padding: 10px 15px;
    text-transform: capitalize;

    &::placeholder {
        font-size: 20px;
    }
}

.btn__search {
    font-weight: 500;
    border-radius: 10px;
    padding: 7px 15px;
    border: 0;
    background-color: #99ccff;

    &:active {
        transform: scale(1.05);
        transition: 0.02s ease-in;
    }

    &:hover {
        background: lighten($color: #99ccff, $amount: 5);
    }
}
